/* Gallery Styles */
.gallery-container {
    width: 90%;
    margin: 50px auto;
    text-align: center;
  }
  
  .gallery-title {
    font-size: 48px;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 20px;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
  }

  @media screen and (max-width: 560px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 20px;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
  }
}
  
  
  .gallery-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .gallery-image:hover {
    transform: scale(1.05);
  }
  
  /* Modal Styles */
  .gallery-container .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }
  
  .gallery-container .modal-content {
    max-width: 80%;
    max-height: 100%;
    border-radius: 10px;
  }

  .gallery-container .modal img{
    object-fit: cover;
    object-position: top center;
    width: auto;
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
  }
  
  .close-btn:hover {
    color: #bbb;
  }
  