.home_admission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
    background-color: rgb(177, 92, 74);
}

.home_admission div{
    width:55%;
}

.home_admission h1{
    color: rgb(255, 254, 254);
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.home_admission p{
    color: rgb(255, 254, 254);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.home_admission .btn {
    background-color: blue;
    color: white;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 10px 20px; /* Add some padding */
    border: none; /* Remove default border */
    border-radius: 5px; /* Optional: Round the button's corners */
    font-size: 1rem; /* Adjust font size */
    margin: auto;
  }
  
  
.home_admission .btn .arrow-right{
    color: white;
    background-color: blue;
    font-size: 24px;
    margin-left: 8px; /* Add some spacing between text and icon */
}

@media screen and (max-width: 560px) {
    .home_admission{
        height: auto;
        padding: 10px;
    }
    .home_admission div{
        width:100%;
        padding: 10px;
    }    
}